/* =========================================================
   CART
   ========================================================= */
.page.cart {
    max-width: 1280px;
}

.page.contact {
    max-width: 1280px;
}

.nav-item.cart .active {
    text-decoration: none;
}

.page.cart h2 {
    margin-top: 20px;
}

.update-cart,
.total-cart-box .button-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.update-cart .btn,
.delete-cart-item .btn {
    font-size: 14px;
    padding: 7px 10px;
}

.delete-cart-item {
    display: flex;
    align-items: center;
}

.total-cart-box .button-box {
    margin-top: -5px;
    margin-bottom: 10px;
}

.total-cart-box .button-box .btn {
    width: fit-content;
}

@media (max-width: 992px) {
    .total-cart-box .button-box {
        flex-direction: column;
        align-items: flex-start;
    }

    .page.cart .table thead {
        display: none;
    }

    .page.cart .table,
    .page.cart .table tbody,
    .page.cart .table tr,
    .page.cart .table td {
        display: block;
        width: 100%;
        background: none;
        font-size: 15px;
    }

    .page.cart table {
        background-color: var(--surface-2);
        border: none;
        margin-bottom: 0px;
    }

    .page.cart .table tr {
        margin-bottom: 20px;
        background: var(--surface-2);
        box-shadow: var(--shadow-1);
        padding: 10px 0;
        border-radius: 4px;
    }

    .page.cart .table {
        box-shadow: none;
        border-radius: 4px;
    }

    .page.cart .table td {
        position: relative;
        padding-left: 120px;
        min-height: 40px;
        border-bottom: none;
        font-size: 15px;
        text-align: left;
    }

    .page.cart .table td:before {
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
        width: 100px;
        color: var(--ink-muted);
        font-size: 14px;
        white-space: nowrap;
        content: attr(data-label);
    }

    .page.cart .td-img img {
        max-width: 60px;
        max-height: 60px;
    }
}
